#ConfigurationModal div:has(> #autostartCheckbox) {
  margin-left: 15px;
}

#ConfigurationModal div:has(> #minimizedCheckbox) {
  margin-left: 15px;
}

#ConfigurationModal div:has(> #bigPictureCheckbox) {
  margin-left: 15px;
}
