#ConfigurationModal div:has(> #autostartCheckbox) {
  margin-left: 0.938em;
}

#ConfigurationModal div:has(> #minimizedCheckbox) {
  margin-left: 0.938em;
}

#ConfigurationModal div:has(> #bigPictureCheckbox) {
  margin-left: 0.938em;
}
