#GameComponent .gameEntryRow:nth-child(odd) {
  background-color: #00000008;
}

#GameComponent .gameEntryRow:hover {
  background-color: #00000010;
}

#GameComponent #addNewEntryRow {
  text-align: center;
}

#GameComponent #addNewEntryRow span:hover {
  cursor: pointer;
}

#GameComponent .gameEntryRow {
  padding-bottom: 0.313em;
}

#GameComponent .gameEntryRowInfo {
  margin: auto;
}

#GameComponent .gameEntryRowInfo > img {
  max-height: 2.813em;
  max-width: 2.5em;
  padding-top: 0.313em;
  margin-right: 10px;
}

#GameComponent .gameEntryRowControl {
  padding-top: 0.313em;
  text-align: right;
  margin: auto;
}

#GameComponent #filter {
  margin-bottom: 0.313em;
}
