#LaunchersComponent .gameEntryRow:nth-child(odd) {
  background-color: #00000008;
}

#LaunchersComponent .gameEntryRow:hover {
  background-color: #00000010;
}

#LaunchersComponent #addNewEntryRow span:hover {
  cursor: pointer;
}

#LaunchersComponent .gameEntryRow {
  padding-bottom: 0.313em;
}

#LaunchersComponent .gameEntryRowInfo {
  margin: auto;
}

#LaunchersComponent .gameEntryRowInfo > img {
  max-height: 2.813em;
  max-width: 2.5em;
  padding-top: 0.313em;
  margin-right: 10px;
}

#LaunchersComponent .gameEntryRowControl {
  padding-top: 0.313em;
  text-align: right;
  margin: auto;
}

#LaunchersComponent #filter {
  margin-bottom: 0.313em;
}
