#newEntryModal label {
  font-weight: bold;
}

#newEntryModal #executableLabel {
  margin-left: 0.625em;
}

#newEntryModal #localLabel {
  margin-left: 0.625em;
}

#newEntryModal #remoteLabel {
  margin-left: 0.625em;
}
