/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
:root {
  --navBarWidth: 200px;
  --innerPadding: 5px;
  --transparency: #00000010;
  --transition: 0.5s ease;
}

html,
body,
#root {
  height: 100%;
  margin: 0px;
  -webkit-user-select: none;
}

#navBar {
  background-color: #ecf2f8;
  height: 100%;
  width: var(--navBarWidth);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 1px solid lightgray;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navBar .navBarEntry {
  padding: var(--innerPadding);
  font-weight: bold;
  transition: var(--transition);
  border-bottom: 1px solid var(--transparency);
}

#navBar .navBarEntry:hover {
  cursor: pointer;
  background-color: var(--transparency);
  padding-left: 15px;
}

#navBar .navBarEntry.active {
  background-color: var(--transparency);
  padding-left: 20px;
  border-left: 5px solid #6666ff;
}

#navBar .navBarEntry.active:hover {
  cursor: inherit;
}

#router {
  height: 100%;
  top: 0px;
  padding: var(--innerPadding);
  left: var(--navBarWidth);
  display: flex;
  flex-direction: column;
  position: fixed;
  width: calc(100% - var(--navBarWidth));
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 0%,
    rgb(236, 242, 248) 100%
  );
}

#router > * {
  margin: auto;
}

#spinnerWrapper {
  z-index: 2;
  height: 100%;
  top: 0px;
  padding: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background: #000000aa;
  text-align: center;
}

#spinnerWrapper div {
  margin: auto;
}

#spinnerWrapper #spinner svg {
  animation: spinner 3s infinite linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

#spinnerWrapper #spinner #spinnerText {
  margin: auto;
  text-align: center;
}

.inputpassword .p-input-icon {
  top: 16px;
}

.p-inputnumber {
  width: 100%;
}

.p-inputtext {
  width: 100%;
}

.p-password {
  width: 100%;
}

.p-password .p-icon-field {
  width: 100%;
}

.p-dropdown {
  width: 100%;
}

.p-dropdown-items {
  padding-left: 0px;
}

.p-multiselect {
  width: 100%;
}

.p-multiselect-items {
  padding-left: 0px;
}
